<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="WickedAppEntities" connectionString="metadata=res://*/WickedSqlDB.csdl|res://*/WickedSqlDB.ssdl|res://*/WickedSqlDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FA62B5E\SQLEXPRESS01;initial catalog=WickedApp;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WickedAppEntities1" connectionString="metadata=res://*/dboModels.csdl|res://*/dboModels.ssdl|res://*/dboModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FA62B5E\SQLEXPRESS01;initial catalog=WickedApp;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>